* {
  box-sizing: border-box;
  font-family: 'Taviraj', serif;
}

body {
  background-color: black;
  padding: 20px;
}

h1 {
  font-size: 13px;
}

/*header*/
.header {
  background-color: white;
}

.header a {
  color: black;
  text-decoration: none;
}

.header h1 {
  margin: 0;
  padding: 12px 20px;
}

.bigger {
  font-size: 17px;
}

ul {
  margin: 0;
  padding: 7px 20px;
  background-color: #f4f4f4;
}

li {
  display: inline;
  list-style: none;
  font-size: 10px;
  margin-right: 10px;
}

li a {
  text-decoration: none;
  color: black;
}

/*main*/
.location {
  color: white;
  padding: 20px 0;
  text-shadow: 2px 2px 1px #000;
}

.location h1 {
  margin: 0;
  font-size: 17px;
}

.location p {
  margin: 0;
  margin-top: 5px;
  font-family: arial;
  font-weight: bold;
  font-size: 10.5px;
}

.lounge {
  width: 100%;
  height: auto;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*featured*/
.featured {
  margin-top: -3px;
  background-color: white;
  margin-bottom: 22px;
}

.featured a {
  color: black;
  text-decoration: none;
}

.featured h3 {
  margin: 0px;
  padding: 14px 10px;
  font-size: 12px;
}

/*about*/
.about {
  margin-top: 40px;
  background-color: white;
  padding: 15px 25px;
}

.badge {
  display: none;
}

.about p {
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 12px;
  line-height: 23px;
}

@media screen and (min-width: 601px) {
  body {
    background-color: black;
    padding: 0;
  }
  .header {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 17px 20px;
    width: 170px;
    height: 170px;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 50px;
  }

  .header h1 {
    padding: 0;
    padding-bottom: 3px;
    font-size: 14px;
  }

  ul {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
  }

  li {
    display: block;
    padding: 0;
    padding-top: 8px;
    font-size: 11px;
  }

  li a:hover {
    color: #539e6d;
  }

  .lounge {
    height: 65vh;
    position: relative;
    z-index: 0;
    border-bottom: 12px solid white;
  }

  .location {
    position: absolute;
    z-index: 1;
    top: 52vh;
    left: 50px;
    cursor: pointer;
  }

  .project {
    display: none;
  }

  .press, .about {
    float: left;
    width: 50%;
    height: 35vh;
    margin: 0;
  }

  .lightgrey {
    color: rgb(194, 194, 194);
  }

  .press {
    background-color: rgb(6, 26, 2);
    border-right: 6px solid white;
    position: relative;
    text-align: center;
    transition: background-color 0.5s;
  }

  .press:hover {
    background-color: #050c02;
  }

  .arrow {
    display: none;
  }

  .press h3 {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-10%, -50%);
  }

  .press .arial {
    font-family: arial;
    display: block;
    padding-bottom: 15px;
  }

  .press .large {
    font-size: 25px;
  }

  .about {
    background-color: #0f0f0f;
    color: white;
    border-left: 6px solid white;
    padding: 20px 30px 20px 40px;
    position: relative;
  }

  .wrapper {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-10%, -50%);
  }

  .badge {
    display: block;
    margin: 0;
    padding: 0;
  }

  .about p {
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 1px;
  }
}

@media screen and (min-width: 7130px), screen and (min-width: 601px) and (orientation: landscape) {
  .lounge {
    float: left;
    width: 70%;
    height: 100vh;
    border: 0;
  }

  .location {
    top: 87vh;
  }

  .press, .about {
    float: left;
    width: 30%;
    height: 50vh;
    margin: 0;
    border-left: 12px solid white;
    border-right: 0;
  }

  .press {
    border-bottom: 6px solid white;
  }

  .about {
    border-top: 6px solid white;
  }
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
